.nav-link{
    position: relative;
    color:#FFB4A9;
    transition:.3s;
}

.nav-link::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0;
    height:2px;
    background:#FF3D2E;
    transition:.3s;
}

.nav-link:hover{
    color:#fff;
}

.nav-link:hover::after,
.nav-link.active::after{
    width:100%;
}

.nav-link.active{
    color:#fff;
}

.nav-link{
    position: relative;
    color:#FFB4A9;
    transition:.3s;
}

.nav-link::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0;
    height:2px;
    background:#FF3D2E;
    transition:.3s;
}

.nav-link:hover{
    color:#fff;
}

.nav-link:hover::after,
.nav-link.active::after{
    width:100%;
}

.nav-link.active{
    color:#fff;
}

.chart-box {
  background: #191b20;
  width: 700px;
}

.service-card{
    padding: 20px;
    border-radius: 20px;
}

.service-card img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.service-cards{
    position: relative;
}

.owl-nav{
    position: absolute;
    top: 0;
    right: 0;
}

.owl-next span{
    display: inline-block;
    background-color: red;
}

.accordion-btn:hover {
  border-color: #ff4b3e;
  box-shadow: 0 0 0 1px #ff4b3e;
}

.accordion-btn:hover .year {
  color: #ffaaa0;
}

.accordion-btn:hover svg {
  color: #ff4b3e;
}

